@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  min-height: 98vh;
}

.hovericon:hover .bed {
  background: #fcaf16;
}

.hovericon:hover .icon {
  color: #fff;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td {
  border-bottom: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  text-align: left;
  padding: 8px;
}

/* tr:nth-child(even) {
  background-color: #dddddd;
} */
